/* You can add global styles to this file, and also import other style file*/

body{
  color: azure;
  text-align: center;

  background-image: url("C:\Users\Deepika\Desktop\Pick-A-Drop\PickADrop\src\assets\Pick1.gif");
  background-repeat: no-repeat;
  background-size:cover;

}
li{
  list-style: none;
  margin: 18px 12px;
}
nav{
  background-color: darkblue;
}
a{
  color: aliceblue;

}

