/* You can add global styles to this file, and also import other style file*/

body{
  color: azure;
  text-align: center;

  background-image: url("C:\Users\Deepika\Desktop\Pick-A-Drop\PickADrop\src\assets\Pick1.gif");
  background-repeat: no-repeat;
  background-size:cover;
}


#toast-container > div {
  opacity: 1;
}
.toast {
  margin: 50px;
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}
