/* You can add global styles to this file, and also import other style file*/

body{
  background-color:cadetblue;
  color:darkblue;
  font-size: larger;
  text-align: center;
  margin: 40%;
  background-image: url("C:\Users\Deepika\Desktop\Pick-A-Drop\PickADrop\src\assets\pd.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
